<a href="https://colab.research.google.com/github/Gulayrose/DAwPy/blob/main/DAwPy_Lab2_Regex_(TR).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Expressions :
***

`\d`                         Any numeric digit from `0` to `9`.
                           
`\D`                         Matches any character which is not a decimal digit. 
                           This is the opposite of `\d`.
                           
`\w`                         Any letter, numeric digit, or the underscore
                           character.  (Think of this as matching
                           "word" characters.)
                           
`\W`                         Any character that is not a letter,
                           numeric digit, or the underscore character.
                           
`\s`                         Any space, tab, or newline character.  (
                           Think of this as matching white-space
                           characters.)
                           
`\S`                         Any character that is not a space, tab,
                           or newline.
***

In [1]:
import re
import pandas as pd

- Search()

In [2]:
text = "A546oOK"

In [3]:
re.search("\d",text) # bize text in icindeki digit num getirdi

In [9]:
num= re.search("\d\d",text)
num

In [6]:
num.start()

1

In [7]:
num.end()

3

In [10]:
num.span()

(1, 3)

In [11]:
num.group() # eslestigi degeri veriyo

'54'

In [13]:
text = "8PM_19MIN"

In [14]:
nondigi= re.search("\D",text) # digit olmayani dondurur.
nondigi.group()

'P'

In [15]:
text = 'My phone number is 555 666 7777'

In [16]:
re.search("\d\d\d",text)

In [18]:
telno=re.search("\d\d\d \d\d\d \d\d\d",text)# asagidaki span araligi index gibi yani ilk digit num 19 dan basliyormus

In [19]:
telno.group()

'555 666 777'

In [20]:
text = 'My phone number is 555-666-7777'

In [22]:
tel=re.search("\d\d\d-\d\d\d-\d\d\d",text)
tel.group()

'555-666-777'

In [24]:
tel=re.search("(\d\d\d)-(\d\d\d)-(\d\d\d\d)",text)
tel.group(3)#grubun icine num verip grupladigimiz sayilari gorebiliriz

'7777'

In [26]:
tel=re.search("\d"*3 + "-"+ "\d"*3 + "-" +"\d"*4,text)
tel

In [27]:
print(tel.group())

555-666-7777

- Sub()

In [28]:
phone = "2005-960-660"#nun digitleri * yapti
re.sub("\D","*",phone)

'2005*960*660'

In [29]:
phone = "2005-960-660"
re.sub("\d","*",phone)

'****-***-***'

In [30]:
re.sub("6","7",phone)

'2005-970-770'

In [33]:
txt = "You are good man"
x = re.sub("\s","*",txt,2) # ilk iki boslugu * ile doldurdu.\s yerine bosluk da birakabilirdik
x

'You*are*good man'

- Findall()

### Special Characters
___

``"[]"``	  A set of characters	``"[a-m]"``

``"\"``	      Signals a special sequence (can also be used to escape special characters)

``"."``	      Any character (except newline character)

``"^"``	      Starts with	``"^hello"``

``"$"``	      Ends with	``"world$"``

``"*"``	      Zero or more occurrences

`"+"`	      One or more occurrences

`"{}"`	  Exactly the specified number of occurrences

`"|"`	      Either or	`"falls|stays"`

`"()"`	  Capture and group
___

In [34]:
value = "o 1 , t ,o 100. 100000000"

In [35]:
output= re.findall("\d{1,5}",value)# digitleri al min 1 max 5 basamakli olsun 
print(output) # findall liste sekline donusturur.slice yapt icin 0000 da aldi

['1', '100', '10000', '0000']

In [37]:
txt = "1 person aganist 100 people"
output = re.findall("\d+",txt) # bize digitleri bul arada str vs varsa bitir sonra devamini al .
print(output)

['1', '100']

In [41]:
txt= "hello world"
re.findall("^hell",txt) # baslangicta olani getir

['hell']

In [39]:
re.findall("^a",txt) # cunku a ile baslamiyo

[]

In [43]:
re.findall("world$",txt) # bitisteki world u getir

['world']

In [44]:
s = pd.Series(['a3', 'b4', 'c5', 'd'])
s

0    a3
1    b4
2    c5
3     d
dtype: object

In [45]:
s.str.contains("\d") # senin icine gir digit varmi bool dondurur.regex i true dur

0     True
1     True
2     True
3    False
dtype: bool

In [46]:
s.str.contains("\d",regex= False)

0    False
1    False
2    False
3    False
dtype: bool

In [48]:
s.str.extract("(\d)") # serideki digitleri getirdi

     0
0    3
1    4
2    5
3  NaN

In [49]:
s.str.extract("(\w)")

   0
0  a
1  b
2  c
3  d

In [50]:
s = pd.Series(['a3aa', 'b4aa', 'c5aa'])
s

0    a3aa
1    b4aa
2    c5aa
dtype: object

In [51]:
s.str.extract("(\w)(\w)(\w)") # butun sutunlara bakip teker teker yazdirdi

   0  1  2
0  a  3  a
1  b  4  a
2  c  5  a

In [52]:
s.str.extract("(\w)\d(\w)(\w)")#sadece harf al

   0  1  2
0  a  a  a
1  b  a  a
2  c  a  a

In [56]:
s= pd.Series(['40 l/100 km (comb)', 
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [58]:
s.str.extract('(\d\d|\d.\d|\d)') # " " olmuyo ' olmali

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

In [60]:
s.str.extract("(\d*.\d*)")

      0
0   40
1   38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16   0
17  7.8

In [61]:
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [62]:
s.str.extract("(\d*.\d* .+/(\d*))")

             0    1
0     40 l/100  100
1     38 l/100  100
2    6.4 l/100  100
3   8.3 kg/100  100
4   5.1 kg/100  100
5    5.4 l/100  100
6    6.7 l/100  100
7    6.2 l/100  100
8    7.3 l/100  100
9    6.3 l/100  100
10   5.7 l/100  100
11   6.1 l/100  100
12   6.8 l/100  100
13   7.5 l/100  100
14   7.4 l/100  100
15  3.6 kg/100  100
16     0 l/100  100
17   7.8 l/100  100

In [63]:
result = s.str.extract("(\d*.\d* .+/(\d*))")
result

             0    1
0     40 l/100  100
1     38 l/100  100
2    6.4 l/100  100
3   8.3 kg/100  100
4   5.1 kg/100  100
5    5.4 l/100  100
6    6.7 l/100  100
7    6.2 l/100  100
8    7.3 l/100  100
9    6.3 l/100  100
10   5.7 l/100  100
11   6.1 l/100  100
12   6.8 l/100  100
13   7.5 l/100  100
14   7.4 l/100  100
15  3.6 kg/100  100
16     0 l/100  100
17   7.8 l/100  100

In [65]:
result[1]

0     100
1     100
2     100
3     100
4     100
5     100
6     100
7     100
8     100
9     100
10    100
11    100
12    100
13    100
14    100
15    100
16    100
17    100
Name: 1, dtype: object