<a href="https://colab.research.google.com/github/Gulayrose/DAwPy/blob/main/DAwPy_S4_(Pandas_DataFrames%2C_Selection_and_Indexing)_empty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Pandas Lesson, Session - 4</p><h1>

# Data Frames

 - ### ``DataFrames`` are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [4]:
import numpy as np
import pandas as pd

 ## Creating a DataFrame using the ``list``s of data and columns

pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)

Two-dimensional, size-mutable, potentially heterogeneous tabular data.

In [5]:
data = [1,3,5,7,9,18]
data

[1, 3, 5, 7, 9, 18]

In [6]:
pd.DataFrame(data=data)

    0
0   1
1   3
2   5
3   7
4   9
5  18

In [7]:
pd.Series(data=data)

0     1
1     3
2     5
3     7
4     9
5    18
dtype: int64

In [8]:
pd.DataFrame(data=data, columns=["col_1"])

   col_1
0      1
1      3
2      5
3      7
4      9
5     18

 ## Creating a DataFrame using a ``NumPy Arrays``

In [9]:
m = np.arange(1,24,2).reshape(3,4)
m

array([[ 1,  3,  5,  7],
       [ 9, 11, 13, 15],
       [17, 19, 21, 23]])

In [10]:
df=pd.DataFrame(data=m, columns=['var1','var2','var3','var4'])
df # column ismi yazarken kac tane column varsa o kadar isim vermemiz gerek

   var1  var2  var3  var4
0     1     3     5     7
1     9    11    13    15
2    17    19    21    23

In [11]:
df.head(1)

   var1  var2  var3  var4
0     1     3     5     7

In [12]:
df.tail(1)

   var1  var2  var3  var4
2    17    19    21    23

In [13]:
df.sample(2)

   var1  var2  var3  var4
1     9    11    13    15
2    17    19    21    23

In [14]:
df.columns

Index(['var1', 'var2', 'var3', 'var4'], dtype='object')

In [15]:
for i in df.columns: 
  print(i)

var1
var2
var3
var4

In [16]:
for i in df.columns: 
  print(df[i].sum())

27
33
39
45

In [17]:
df

   var1  var2  var3  var4
0     1     3     5     7
1     9    11    13    15
2    17    19    21    23

In [18]:
df.columns

Index(['var1', 'var2', 'var3', 'var4'], dtype='object')

In [19]:
df.columns = ["new1", "new2","new3","new4"]
df # column larin adini degistirebiliriz

   new1  new2  new3  new4
0     1     3     5     7
1     9    11    13    15
2    17    19    21    23

In [20]:
df.index=["a", "b", "c"]
df#index lerin adini degistirebiliriz

   new1  new2  new3  new4
a     1     3     5     7
b     9    11    13    15
c    17    19    21    23

In [21]:
df.rename(columns = {"new1": "a", "new2": "b"})

    a   b  new3  new4
a   1   3     5     7
b   9  11    13    15
c  17  19    21    23

In [22]:
df.rename(index = {"a": 1, "b": 2})

   new1  new2  new3  new4
1     1     3     5     7
2     9    11    13    15
c    17    19    21    23

In [23]:
df.shape

(3, 4)

In [24]:
df.size

12

In [25]:
len(df)

3

In [26]:
df.values

array([[ 1,  3,  5,  7],
       [ 9, 11, 13, 15],
       [17, 19, 21, 23]])

In [27]:
type(df)

pandas.core.frame.DataFrame

In [28]:
type(df.values)

numpy.ndarray

 ## Creating a DataFrame using a ``dict``

In [29]:
s1 = np.random.randint(2,10, size = 4)
s2 = np.random.randint(3,10, size = 4)
s3 = np.random.randint(4,15, size = 4)

In [30]:
s1

array([2, 7, 5, 6])

In [31]:
s2

array([5, 9, 8, 8])

In [32]:
s3

array([10, 14,  9,  4])

In [33]:
my_dict = {"var1":s1,"var2":s2,"var3":s3}
my_dict

{'var1': array([2, 7, 5, 6]),
 'var2': array([5, 9, 8, 8]),
 'var3': array([10, 14,  9,  4])}

In [34]:
df1 = pd.DataFrame(my_dict)
df1

   var1  var2  var3
0     2     5    10
1     7     9    14
2     5     8     9
3     6     8     4

In [35]:
df1.index

RangeIndex(start=0, stop=4, step=1)

In [36]:
[i for i in df1.index]

[0, 1, 2, 3]

In [37]:
"var2" in df1

True

### Now, let's examine again the ***idexing, selection*** and ***slicing*** methods and several ***attributes*** using a different DataFrame

In [38]:
from numpy.random import randn

In [39]:
randn(5,4)

array([[ 0.96748265, -0.57607789, -0.13029393,  2.2372544 ],
       [ 0.89246536,  0.6871359 , -0.14306938, -0.23503109],
       [ 0.68119744,  0.94452734,  0.39838072, -0.30709672],
       [ 0.75876328,  0.32923678, -0.71518262, -2.13614481],
       [-1.66073817, -1.10837262,  0.07661569, -0.62013024]])

In [40]:
'A B C D E '.split()

['A', 'B', 'C', 'D', 'E']

In [41]:
np.random.seed(101) # herkesde ayni olusmasi icin seed kullandik
df3 = pd.DataFrame(randn(5,4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [42]:
df3["W"]

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [ ]:
type(df3["W"])

pandas.core.series.Series

In [ ]:
df3[["W"]] # ek bir koseli parantez koyarsak seri den df e gecer

          W
A  2.706850
B  0.651118
C -2.018168
D  0.188695
E  0.190794

In [ ]:
type(df3[["W"]])

pandas.core.frame.DataFrame

In [ ]:
df3.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [ ]:
type(df3.W)

pandas.core.series.Series

In [ ]:
df3.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [ ]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

#### DataFrame Columns are just Series

In [ ]:
df3[["W","Z"]]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [ ]:
df3["A":"C"] # sliceing sadece index icin yapilabilir.

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

In [ ]:
df3["A":"C"]["W"]

A    2.706850
B    0.651118
C   -2.018168
Name: W, dtype: float64

In [ ]:
df3["A":"C"][["W","Y"]]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077
C -2.018168  0.528813

In [ ]:
df3["new"] = df3["X"] * df3["Y"]
df3

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  0.570325
B  0.651118 -0.319318 -0.848077  0.605965  0.270806
C -2.018168  0.740122  0.528813 -0.589001  0.391387
D  0.188695 -0.758872 -0.933237  0.955057  0.708208
E  0.190794  1.978757  2.605967  0.683509  5.156577

In [ ]:
df3["new2"] = [1,2,3,4,5]
df3

          W         X         Y         Z       new  new2
A  2.706850  0.628133  0.907969  0.503826  0.570325     1
B  0.651118 -0.319318 -0.848077  0.605965  0.270806     2
C -2.018168  0.740122  0.528813 -0.589001  0.391387     3
D  0.188695 -0.758872 -0.933237  0.955057  0.708208     4
E  0.190794  1.978757  2.605967  0.683509  5.156577     5

In [ ]:
df3.columns = ["W","X","Y","Z","new","new2"]
df3

          W         X         Y         Z       new  new2
A  2.706850  0.628133  0.907969  0.503826  0.570325     1
B  0.651118 -0.319318 -0.848077  0.605965  0.270806     2
C -2.018168  0.740122  0.528813 -0.589001  0.391387     3
D  0.188695 -0.758872 -0.933237  0.955057  0.708208     4
E  0.190794  1.978757  2.605967  0.683509  5.156577     5

**Creating a new column:**

In [ ]:
df3 = df3[["new","new2","W","X","Y","Z"]]
df3 # column larin yerini degistirdik

        new  new2         W         X         Y         Z
A  0.570325     1  2.706850  0.628133  0.907969  0.503826
B  0.270806     2  0.651118 -0.319318 -0.848077  0.605965
C  0.391387     3 -2.018168  0.740122  0.528813 -0.589001
D  0.708208     4  0.188695 -0.758872 -0.933237  0.955057
E  5.156577     5  0.190794  1.978757  2.605967  0.683509

## [Removing Columns & Rows](http://localhost:8888/notebooks/pythonic/DAwPythonSessions/w3resource-pandas-dataframe-drop.ipynb)

 ### Removing Columns

In [ ]:
df3.drop("new2",axis=1) #new2 yi yolladik.kalici olmasi icin inflace= true secilir yada baska bir degere atamali

        new         W         X         Y         Z
A  0.570325  2.706850  0.628133  0.907969  0.503826
B  0.270806  0.651118 -0.319318 -0.848077  0.605965
C  0.391387 -2.018168  0.740122  0.528813 -0.589001
D  0.708208  0.188695 -0.758872 -0.933237  0.955057
E  5.156577  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.drop(["new","new2"],axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.drop(columns = ["new", "new2"])

KeyError: ignored

In [ ]:
df3.drop(["new", "new2"], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

 ### Removing rows

In [ ]:
df3.drop("C",axis=0) # bunu normalde df4 diye degiskene atayabiliriz

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.drop(index= ["B"])

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selecting Rows

### First, let's take a quick look at [`.loc[]`](http://localhost:8888/notebooks/pythonic/DAwPythonSessions/w3resource-pandas-dataframe-loc.ipynb) | [`.iloc[]`](http://localhost:8888/notebooks/pythonic/DAwPythonSessions/w3resource-pandas-dataframe-iloc.ipynb)

#### `.loc[]`  allows us to select data using **labels** (names) of rows (index) & columns

#### `.iloc[]`  allows us to select data using **index numbers** of rows (index) & columns. it's like classical indexing logic

In [ ]:
m = np.random.randint(1,40, size=(8,4))
df4 = pd.DataFrame(m, columns = ["var1","var2","var3",'var4'])
df4

   var1  var2  var3  var4
0    38    23    10     3
1    19    29    12    11
2    31    36    29     4
3    20    21    15     6
4     6     7    25    38
5     8    38     5    24
6    36    16    35     4
7    19    14     4    38

In [ ]:
df4.loc[4] # 4.row u getirdi

var1     6
var2     7
var3    25
var4    38
Name: 4, dtype: int64

In [ ]:
df4.loc[[4]]

   var1  var2  var3  var4
4     6     7    25    38

In [ ]:
df4.loc[2:5] #burda 5 i aldi

   var1  var2  var3  var4
2    31    36    29     4
3    20    21    15     6
4     6     7    25    38
5     8    38     5    24

In [ ]:
df4.iloc[2:5] #burda 5 i almadi

   var1  var2  var3  var4
2    31    36    29     4
3    20    21    15     6
4     6     7    25    38

In [ ]:
df4.index='a b c d e f g h'.split()
df4 # index lerin adini degisitirdik

   var1  var2  var3  var4
a    38    23    10     3
b    19    29    12    11
c    31    36    29     4
d    20    21    15     6
e     6     7    25    38
f     8    38     5    24
g    36    16    35     4
h    19    14     4    38

In [ ]:
df4.iloc[1:4] # yukarda degsitirmemize ragmen bize index leri verdi

   var1  var2  var3  var4
b    19    29    12    11
c    31    36    29     4
d    20    21    15     6

In [ ]:
#df4.loc[1:4] # hata verir cunku artik biz index isimlerini degistirdik

#### Let's continue to examine `.loc[]` and `.iloc[]` using ``df3`` again

In [ ]:
df4.loc["a":"d"]

   var1  var2  var3  var4
a    38    23    10     3
b    19    29    12    11
c    31    36    29     4
d    20    21    15     6

In [ ]:
df4

   var1  var2  var3  var4
a    38    23    10     3
b    19    29    12    11
c    31    36    29     4
d    20    21    15     6
e     6     7    25    38
f     8    38     5    24
g    36    16    35     4
h    19    14     4    38

In [ ]:
df4.iloc[3,1]

21

In [ ]:
df4.loc["d","var2"] #[row,cloumn]

21

In [ ]:
df4.loc["d":"g","var3"]

d    15
e    25
f     5
g    35
Name: var3, dtype: int64

In [ ]:
df4.loc["d":"g"]["var3"] #bu bize seri verir

d    15
e    25
f     5
g    35
Name: var3, dtype: int64

In [ ]:
df4.loc["d":"g"][["var3"]] # bu bize df verir

   var3
d    15
e    25
f     5
g    35

### Selecting subset of rows and columns

 - ### `.loc[[row labels|names], [column labels|names]]`

 - ### `.iloc[[row index numbers], [column index numbers]]`

In [ ]:
df4.loc["d":"g",["var3"]]

   var3
d    15
e    25
f     5
g    35

In [ ]:
df4.iloc[2:5,2]

c    29
d    15
e    25
Name: var3, dtype: int64

In [ ]:
df4.iloc[2:5][["var2"]]

   var2
c    36
d    21
e     7

In [ ]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.loc["C"]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [ ]:
df3.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [ ]:
df3.loc[["C"]]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [ ]:
df3.loc["C","Z"]

-0.5890005332865824

In [ ]:
df3.loc[["C"],["Z"]]

          Z
C -0.589001

In [ ]:
df3.loc[["A","C"],["X","Z"]]

          X         Z
A  0.628133  0.503826
C  0.740122 -0.589001

In [ ]:
df3.iloc[[0,2],[0,3]]

          W         Z
A  2.706850  0.503826
C -2.018168 -0.589001

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [ ]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3>2 #bool doner

       W      X      Y      Z
A   True  False  False  False
B  False  False  False  False
C  False  False  False  False
D  False  False  False  False
E  False  False   True  False

In [ ]:
df3[df3>2] # kosulu saglayani gosterir digerleri nan olur

         W   X         Y   Z
A  2.70685 NaN       NaN NaN
B      NaN NaN       NaN NaN
C      NaN NaN       NaN NaN
D      NaN NaN       NaN NaN
E      NaN NaN  2.605967 NaN

In [ ]:
df3[df3["Z"]>0.5]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3[df3["Z"]>0.5]["X"]

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [ ]:
df3[df3["Z"]>0.7]["X"]

D   -0.758872
Name: X, dtype: float64

In [ ]:
df3[(df3['W']>0) & (df3['Y']<1)] = 0

In [ ]:
df3

          W         X         Y         Z
A  0.000000  0.000000  0.000000  0.000000
B  0.000000  0.000000  0.000000  0.000000
C -2.018168  0.740122  0.528813 -0.589001
D  0.000000  0.000000  0.000000  0.000000
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.loc[(df3.X>0),["X","Y"]]

          X         Y
C  0.740122  0.528813
E  1.978757  2.605967

#### For two conditions you can use **|**  `or`,  **&**   `and` with parenthesis:

### Conditional selection using ``.loc[]`` and ``.iloc[]``

In [ ]:
df3.loc[((df3.W>1) | (df3.Y<1)), ['Y','Z']]

          Y         Z
A  0.000000  0.000000
B  0.000000  0.000000
C  0.528813 -0.589001
D  0.000000  0.000000

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [ ]:
df3

          W         X         Y         Z
A  0.000000  0.000000  0.000000  0.000000
B  0.000000  0.000000  0.000000  0.000000
C -2.018168  0.740122  0.528813 -0.589001
D  0.000000  0.000000  0.000000  0.000000
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.reset_index() #bize index atadi

  index         W         X         Y         Z
0     A  0.000000  0.000000  0.000000  0.000000
1     B  0.000000  0.000000  0.000000  0.000000
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.000000  0.000000  0.000000  0.000000
4     E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.reset_index(drop=True) #eski haline getirir.

          W         X         Y         Z
0  0.000000  0.000000  0.000000  0.000000
1  0.000000  0.000000  0.000000  0.000000
2 -2.018168  0.740122  0.528813 -0.589001
3  0.000000  0.000000  0.000000  0.000000
4  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.set_index("Z") # z yi basa aldik kalici olmayavn degiusiklik.Z artik index oldu

                  W         X         Y
Z
 0.000000  0.000000  0.000000  0.000000
 0.000000  0.000000  0.000000  0.000000
-0.589001 -2.018168  0.740122  0.528813
 0.000000  0.000000  0.000000  0.000000
 0.683509  0.190794  1.978757  2.605967

In [ ]:
df3.reset_index(drop=True,inplace=True)
df3

          W         X         Y         Z
0  0.000000  0.000000  0.000000  0.000000
1  0.000000  0.000000  0.000000  0.000000
2 -2.018168  0.740122  0.528813 -0.589001
3  0.000000  0.000000  0.000000  0.000000
4  0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [1]:
# Index Levels
outside = ['M1', 'M1', 'M1', 'M2', 'M2', 'M2','M3', 'M3', 'M3']
inside = [1, 2, 3, 1, 2, 3, 5, 6, 7]
multi_index = list(zip(outside, inside))
multi_index

[('M1', 1),
 ('M1', 2),
 ('M1', 3),
 ('M2', 1),
 ('M2', 2),
 ('M2', 3),
 ('M3', 5),
 ('M3', 6),
 ('M3', 7)]

In [43]:
hier_index=pd.MultiIndex.from_tuples(multi_index)

In [44]:
df=pd.DataFrame(np.random.randn(9,4), index = hier_index, columns=['A','B','C','D'])
df

             A         B         C         D
M1 1  0.302665  1.693723 -1.706086 -1.159119
   2 -0.134841  0.390528  0.166905  0.184502
   3  0.807706  0.072960  0.638787  0.329646
M2 1 -0.497104 -0.754070 -0.943406  0.484752
   2 -0.116773  1.901755  0.238127  1.996652
   3 -0.993263  0.196800 -1.136645  0.000366
M3 5  1.025984 -0.156598 -0.031579  0.649826
   6  2.154846 -0.610259 -0.755325 -0.346419
   7  0.147027 -0.479448  0.558769  1.024810

In [45]:
df.loc["M1"]

          A         B         C         D
1  0.302665  1.693723 -1.706086 -1.159119
2 -0.134841  0.390528  0.166905  0.184502
3  0.807706  0.072960  0.638787  0.329646

In [46]:
df.loc["M1"].loc[2]

A   -0.134841
B    0.390528
C    0.166905
D    0.184502
Name: 2, dtype: float64

In [47]:
df.loc["M1"].loc[[2]] # daha duzgun gormek icin [] kullandik

          A         B         C         D
2 -0.134841  0.390528  0.166905  0.184502

In [48]:
df.index.names # isim olmadigi icin non doner

FrozenList([None, None])

In [49]:
df.index.names = ["group","num"] # indexlerimize isim atadik
df

                  A         B         C         D
group num
M1    1    0.302665  1.693723 -1.706086 -1.159119
      2   -0.134841  0.390528  0.166905  0.184502
      3    0.807706  0.072960  0.638787  0.329646
M2    1   -0.497104 -0.754070 -0.943406  0.484752
      2   -0.116773  1.901755  0.238127  1.996652
      3   -0.993263  0.196800 -1.136645  0.000366
M3    5    1.025984 -0.156598 -0.031579  0.649826
      6    2.154846 -0.610259 -0.755325 -0.346419
      7    0.147027 -0.479448  0.558769  1.024810

### let's take a quick look at the [``.xs()``](http://localhost:8888/notebooks/pythonic/DAwPythonSessions/w3resource-pandas-dataframe-xs.ipynb)

In [50]:
df.xs("M1")

            A         B         C         D
num
1    0.302665  1.693723 -1.706086 -1.159119
2   -0.134841  0.390528  0.166905  0.184502
3    0.807706  0.072960  0.638787  0.329646

In [51]:
df.loc["M1"]

            A         B         C         D
num
1    0.302665  1.693723 -1.706086 -1.159119
2   -0.134841  0.390528  0.166905  0.184502
3    0.807706  0.072960  0.638787  0.329646

In [52]:
df.xs(("M1",2)) #seri halde dondurdu.

A   -0.134841
B    0.390528
C    0.166905
D    0.184502
Name: (M1, 2), dtype: float64

In [53]:
df.xs(key=("M1",2),level = [0,1])

                  A         B         C         D
group num
M1    2   -0.134841  0.390528  0.166905  0.184502

In [54]:
df.xs(key=("M1",2),level = ["group","num"]) #0. index teki m1 ve 1. index teki 2 .burda 
#level a 0,1 de yazabiliriz .yada index isimlerini de

                  A         B         C         D
group num
M1    2   -0.134841  0.390528  0.166905  0.184502

In [55]:
#df.loc[2] bununla olmadi
#df.xs(2) bunla da olmadi
df.xs(2,level="num") # tum ikileri getirdi.bastaki gruplandirma belirtmeigimiz icin

              A         B         C         D
group
M1    -0.134841  0.390528  0.166905  0.184502
M2    -0.116773  1.901755  0.238127  1.996652

In [56]:
df.xs(5,level="num") #num levelindaki index i bulduk

              A         B         C         D
group
M3     1.025984 -0.156598 -0.031579  0.649826

In [57]:
df["C"]

group  num
M1     1     -1.706086
       2      0.166905
       3      0.638787
M2     1     -0.943406
       2      0.238127
       3     -1.136645
M3     5     -0.031579
       6     -0.755325
       7      0.558769
Name: C, dtype: float64

In [58]:
df.xs("C",axis =1) #bu cok kullanilan bir method degil

group  num
M1     1     -1.706086
       2      0.166905
       3      0.638787
M2     1     -0.943406
       2      0.238127
       3     -1.136645
M3     5     -0.031579
       6     -0.755325
       7      0.558769
Name: C, dtype: float64

### Let's learn new functions/attributes/methods on "iris dataset"

In [59]:
import seaborn as sns

In [60]:
df = sns.load_dataset("iris")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [61]:
df.head() # defoultu 5 satir istedigimiz kadar yazabiliriz

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [62]:
df.shape

(150, 5)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [64]:
df.sample(5)

     sepal_length  sepal_width  petal_length  petal_width     species
58            6.6          2.9           4.6          1.3  versicolor
83            6.0          2.7           5.1          1.6  versicolor
69            5.6          2.5           3.9          1.1  versicolor
124           6.7          3.3           5.7          2.1   virginica
92            5.8          2.6           4.0          1.2  versicolor

In [65]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [66]:
df.describe().transpose()

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [67]:
df.describe(include = "all") # "number" and "object" can be used as include/exclude parameter

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [68]:
df.corr() # sutunlar arasi corelasyonu verir.

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [69]:
df.corr()[["sepal_length"]]

              sepal_length
sepal_length      1.000000
sepal_width      -0.117570
petal_length      0.871754
petal_width       0.817941

In [71]:
df["petal_length"].corr(df["petal_width"])

0.9628654314027961

In [72]:
df["species"].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [73]:
df["species"].value_counts()(dropna = False)

TypeError: ignored

In [74]:
df["species"].value_counts()(dropna = False,normalize = True)

TypeError: ignored

In [75]:
df.species.nunique()

3

In [76]:
df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [ ]:
#df.species.unique() ==> array olarak deeri verir
#df.species.nunique() ==> say olarak

In [77]:
df.loc[df["species"]=="setosa","sepal_length"]

0     5.1
1     4.9
2     4.7
3     4.6
4     5.0
5     5.4
6     4.6
7     5.0
8     4.4
9     4.9
10    5.4
11    4.8
12    4.8
13    4.3
14    5.8
15    5.7
16    5.4
17    5.1
18    5.7
19    5.1
20    5.4
21    5.1
22    4.6
23    5.1
24    4.8
25    5.0
26    5.0
27    5.2
28    5.2
29    4.7
30    4.8
31    5.4
32    5.2
33    5.5
34    4.9
35    5.0
36    5.5
37    4.9
38    4.4
39    5.1
40    5.0
41    4.5
42    4.4
43    5.0
44    5.1
45    4.8
46    5.1
47    4.6
48    5.3
49    5.0
Name: sepal_length, dtype: float64

In [78]:
df[(df.sepal_length>4) & (df.sepal_length<5)]

     sepal_length  sepal_width  petal_length  petal_width     species
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
6             4.6          3.4           1.4          0.3      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
22            4.6          3.6           1.0          0.2      setosa
24            4.8          3.4           1.9          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
34            4.9          3.1           1.5          0.2      setosa
37            4.9          3.6           1.4          0.1      setosa
38            4.4          3.0           1.3          0.2      setosa
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
45            4.8          3.0           1.4          0.3      setosa
47            4.6          3.2           1.4          0.2      setosa
57            4.9          2.4           3.3          1.0  versicolor
106           4.9          2.5           4.5          1.7   virginica

In [79]:
df[(df.species == "virginica") & (df.sepal_length>4)  & (df.sepal_length<5)]

     sepal_length  sepal_width  petal_length  petal_width    species
106           4.9          2.5           4.5          1.7  virginica

In [80]:
df.loc[(df.species == "virginica") & (df.sepal_length>4)  & (df.sepal_length<5)] #burda loc da kullansak ayni sey olur

     sepal_length  sepal_width  petal_length  petal_width    species
106           4.9          2.5           4.5          1.7  virginica

In [81]:
df.sort_values(by = 'sepal_length', ascending = True)

     sepal_length  sepal_width  petal_length  petal_width    species
13            4.3          3.0           1.1          0.1     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]

# End of the Session